<%= form_for(@mail_item) do |f| %>
  <% if @mail_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail_item.errors.count, "error") %> prohibited this mail_item from being saved:</h2>

      <ul>
      <% @mail_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :watermark %><br>
    <%= f.text_field :watermark %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :is_read %><br>
    <%= f.text_area :is_read %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
